*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
}

nav a{
     color: #000;
     text-decoration: none;
     display: inline-block;
     animation: moverIzquierda 1s ease-in;
}

header{
background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
height: auto;
padding: 48px;

}
.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    border-radius:16px;
    animation: Arriba 2s ease-in;
  
}

.texto{
    width: 50%;
    color: black;
}

.texto h1{
   font-size: 80px;
}

.texto h2{
    font-size: 30px;
 }
 
 .texto a{
    display: inline-block;
    font-weight: 300px;
    text-decoration: none;
    margin-top: 30px;
    width: 150px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #BDFFF3;
    text-align: center;
    padding: 5px;
 }

 .wave{
    height: 200px;
    width: 100%;
background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 @keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
 }

 @keyframes Arriba{
    0%{
        opacity: 0;
        transform: translatey(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
 }

